.container {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.input {
	margin-bottom: 20px;
}
.board {
	margin: 0 auto;
	text-align: center;
}
.row {
	display: flex;
	flex-direction: row;
}
.cell {
	width: 100px;
	height: 100px;
	border: 1px solid black;
	margin: 5px;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.message {
	font-size: 20px;
	margin-bottom: 10px;
}
